apiVersion: v1
kind: Config
clusters:
- name: vagrant
  cluster:
    server: https://{{ hostvars[groups['role=master'].0]['private_ipv4'] }}:443
    certificate-authority-data: {{CA_CERT}}
users:
- name: kubelet
  user:
    client-certificate-data: {{CLIENT_CERT}}
    client-key-data: {{CLIENT_KEY}}
contexts:
- context:
    cluster: vagrant
    user: kubelet
